#s-1f5b1662-b092-4a10-a3af-7fe14febba77 > #backgroundBox {
  position: absolute;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 > #alignmentBox {
  position: relative;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 {
  position: absolute;
  width: 360.29785156250114px;
  min-height: 194.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Image_1 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Path_1 {
  position: absolute;
  width: 38.484535217285156px;
  height: 37.400001525878906px;
  cursor: pointer;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 {
  position: absolute;
  width: 874.9999999999994px;
  min-height: 333.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_1 {
  position: absolute;
  width: 216.07031249999977px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_2 {
  position: absolute;
  width: 216.07031249999977px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 {
  position: absolute;
  width: 360.5312499999969px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_3 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_4 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_5 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_6 {
  position: absolute;
  width: 79.47656249999773px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_7 {
  position: absolute;
  width: 81.92187500000341px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_8 {
  position: absolute;
  width: 247.45507812499943px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_6.checked > .backgroundLayer {
  background-image: url('../../images/6ad9b062-128c-424d-9f47-af580f125d95.svg#svgView(preserveAspectRatio(none))');
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_6.unchecked > .backgroundLayer {
  background-image: url('../../images/9b18824c-ef15-4e67-a4e3-982ca27778c6.svg#svgView(preserveAspectRatio(none))');
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_6 {
  position: absolute;
  width: 52.0px;
  height: 23.547169811320757px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 {
  position: absolute;
  width: 360.29785156250114px;
  min-height: 194.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Image_2 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Path_2 {
  position: absolute;
  width: 38.484535217285156px;
  height: 37.400001525878906px;
  cursor: pointer;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 {
  position: absolute;
  width: 874.9999999999994px;
  min-height: 333.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_9 {
  position: absolute;
  width: 216.07031249999977px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_10 {
  position: absolute;
  width: 216.07031249999977px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 {
  position: absolute;
  width: 360.5312499999969px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_11 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_12 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_13 {
  position: absolute;
  width: 59.4765624999975px;
  min-height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_14 {
  position: absolute;
  width: 79.47656249999773px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 input::-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 input:-moz-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 input:-ms-input-placeholder {
  color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 {
  position: absolute;
  width: 155.85937499999716px;
  height: 22.428571428571104px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 .valign {
  vertical-align: middle;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_15 {
  position: absolute;
  width: 81.92187500000341px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_16 {
  position: absolute;
  width: 247.45507812499943px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_12.checked > .backgroundLayer {
  background-image: url('../../images/21f81049-78ba-4116-b63b-ed7dc4722fe6.svg#svgView(preserveAspectRatio(none))');
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_12.unchecked > .backgroundLayer {
  background-image: url('../../images/f039d83c-8623-41cb-bfb5-2231892933a4.svg#svgView(preserveAspectRatio(none))');
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Input_12 {
  position: absolute;
  width: 52.0px;
  height: 23.547169811320757px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1f5b1662-b092-4a10-a3af-7fe14febba77 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}