#s-205c39f8-901b-4b14-9743-8f0b12084300 > #backgroundBox {
  position: absolute;
}
#s-205c39f8-901b-4b14-9743-8f0b12084300 > #alignmentBox {
  position: relative;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-205c39f8-901b-4b14-9743-8f0b12084300 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}