#s-23ee43c2-7107-4137-86b0-d2e3c209cadf > #backgroundBox {
  background-color: #EFEFEF;
  position: absolute;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf > #alignmentBox {
  position: relative;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 {
  position: absolute;
  width: 563.0463867187502px;
  min-height: 733.7196679563594px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Category_1 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.333897430772595px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 {
  position: absolute;
  width: 216.4228515624999px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 {
  position: absolute;
  width: 117.63808079769723px;
  min-height: 25.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.33389743077254px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.33389743077254px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 {
  position: absolute;
  width: 113.73828124999915px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.33389743077254px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 {
  position: absolute;
  width: 135.615234375px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.33389743077254px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 {
  position: absolute;
  width: 193.2089843749999px;
  min-height: 25.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_12 span#rtr-s-Paragraph_12_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 {
  position: absolute;
  width: 155.29980468750085px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_13 span#rtr-s-Paragraph_13_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.333897430772595px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 {
  position: absolute;
  width: 235.2761615953948px;
  min-height: 35.33389743077271px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 {
  position: absolute;
  width: 264.4228515624998px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_14 span#rtr-s-Paragraph_14_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 input::-webkit-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 input::-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 input:-moz-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 input:-ms-input-placeholder {
  color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 {
  position: absolute;
  width: 481.3283305921053px;
  height: 35.333897430772595px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 .valign {
  vertical-align: middle;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Input_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 {
  position: absolute;
  width: 235.2761615953948px;
  min-height: 35.33389743077271px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_15 {
  position: absolute;
  width: 304.184314712885px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 {
  position: absolute;
  width: 520.1111089619862px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Path_1 {
  position: absolute;
  width: 21.836008071899414px;
  height: 23.086761474609375px;
  cursor: pointer;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf #s-Image_1 {
  position: absolute;
  width: 41.47183081455182px;
  height: 39.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-23ee43c2-7107-4137-86b0-d2e3c209cadf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}