#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e > #backgroundBox {
  position: absolute;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e > #alignmentBox {
  position: relative;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 {
  position: absolute;
  width: 583.9072265625009px;
  min-height: 458.4999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 input::-moz-placeholder {
  color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 input:-moz-placeholder {
  color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 {
  position: absolute;
  width: 536.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 .valign {
  vertical-align: middle;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 {
  position: absolute;
  width: 248.73828125000017px;
  min-height: 43.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 {
  position: absolute;
  width: 536.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 .valign {
  vertical-align: middle;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 {
  position: absolute;
  width: 248.7382812500001px;
  min-height: 25.000000000000227px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 {
  position: absolute;
  width: 536.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 .valign {
  vertical-align: middle;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 {
  position: absolute;
  width: 262.0000000000001px;
  min-height: 45.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 {
  position: absolute;
  width: 262.0000000000001px;
  min-height: 45.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 {
  position: absolute;
  width: 561.8279532798485px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Path_1 {
  position: absolute;
  width: 22.93531608581543px;
  height: 20.400001525878906px;
  cursor: pointer;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Image_1 {
  position: absolute;
  width: 44.798185279697236px;
  height: 39.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_5 {
  position: absolute;
  width: 378.99999999999955px;
  min-height: 47.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-543abd4a-1ef3-4935-b3d5-66b162e9cf1e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}