#s-74b784ee-3570-4455-b80f-0e1a10202e97 > #backgroundBox {
  background-color: #EFEFEF;
  position: absolute;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 > #alignmentBox {
  position: relative;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 {
  position: absolute;
  width: 559.0px;
  min-height: 658.4393805764166px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 {
  position: absolute;
  width: 96.47557737116222px;
  min-height: 28.933469786107594px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 input::-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 input:-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 {
  position: absolute;
  width: 477.86921850079733px;
  height: 31.708608278785164px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 {
  position: absolute;
  width: 235.81419457735177px;
  min-height: 36.32982753057979px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 {
  position: absolute;
  width: 77.77442029256372px;
  min-height: 28.93346978610748px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 {
  position: absolute;
  width: 123.49641148325406px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 {
  position: absolute;
  width: 233.58532695374805px;
  min-height: 31.708608278785277px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 input::-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 input:-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 {
  position: absolute;
  width: 475.062998405104px;
  height: 31.70860827878505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 {
  position: absolute;
  width: 233.58532695374788px;
  min-height: 31.708608278785277px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 input::-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 input:-moz-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 {
  position: absolute;
  width: 477.8692185007971px;
  height: 31.708608278785277px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_1 table {
  display: table-cell;
  vertical-align: top;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_1 table tbody {
  display: inline-grid;
  gap: 5px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_1 {
  position: absolute;
  width: 211.12987986446876px;
  height: 77.61612284069108px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 {
  position: absolute;
  width: 136.47557737116227px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_10 {
  position: absolute;
  width: 292.640625px;
  min-height: 63.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 {
  position: absolute;
  width: 501.3056033285868px;
  min-height: 66.88888888888891px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Path_1 {
  position: absolute;
  width: 20.895526885986328px;
  height: 16.755556106567383px;
  cursor: pointer;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Image_1 {
  position: absolute;
  width: 39.97234592647271px;
  height: 30.52777777777783px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 .s-Category_2 .line_options.selected {
  background-color: #000000 !important;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 .s-Category_2 .selected > .options {
  color: #FFFFFF !important;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 .s-Category_2 .line_options:hover {
  background-color: #000000 !important;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 .s-Category_2 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_2 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_2 {
  position: absolute;
  width: 477.0000000000007px;
  height: 37.000000000000455px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-74b784ee-3570-4455-b80f-0e1a10202e97 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}