#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e > #backgroundBox {
  background-color: #EFEFEF;
  position: absolute;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e > #alignmentBox {
  position: relative;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 {
  position: absolute;
  width: 526.0000000000002px;
  min-height: 577.4089821357765px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 {
  position: absolute;
  width: 184.43733646082546px;
  min-height: 28.204354025924886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 {
  position: absolute;
  width: 134.8120888157897px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_13 span#rtr-s-Paragraph_13_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 {
  position: absolute;
  width: 162.6044921875001px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_14 span#rtr-s-Paragraph_14_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 input::-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 input:-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 {
  position: absolute;
  width: 449.6586921850078px;
  height: 27.806409779389583px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 .valign {
  vertical-align: middle;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 {
  position: absolute;
  width: 134.81208881578965px;
  min-height: 27.47267339130076px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_16 span#rtr-s-Paragraph_16_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 input::-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 input:-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 {
  position: absolute;
  width: 449.6586921850078px;
  height: 27.806409779389753px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 .valign {
  vertical-align: middle;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 input::-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 input:-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 {
  position: absolute;
  width: 449.6586921850077px;
  height: 27.80640977938964px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 .valign {
  vertical-align: middle;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 {
  position: absolute;
  width: 172.6953125px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_19 span#rtr-s-Paragraph_19_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 input::-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 input:-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 {
  position: absolute;
  width: 449.6586921850077px;
  height: 27.80640977938981px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 .valign {
  vertical-align: middle;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 {
  position: absolute;
  width: 219.79585326953736px;
  min-height: 27.80640977939015px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 input::-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 input:-moz-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 input:-ms-input-placeholder {
  color: #82888C;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 {
  position: absolute;
  width: 449.6586921850078px;
  height: 27.806409779389583px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 .valign {
  vertical-align: middle;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Input_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 {
  position: absolute;
  width: 219.79585326953634px;
  min-height: 27.80640977939015px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 {
  position: absolute;
  width: 581.3122517496122px;
  min-height: 69.99998140554914px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Path_1 {
  position: absolute;
  width: 29.266910552978516px;
  height: 24.779308319091797px;
  cursor: pointer;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Image_1 {
  position: absolute;
  width: 46.316613158971336px;
  height: 35.142433931167716px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b78b6f0d-8a12-478c-b6f7-591095bd9a9e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}