#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d > #backgroundBox {
  background-color: #CCCCCC;
  position: absolute;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d > #alignmentBox {
  position: relative;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 {
  position: absolute;
  width: 581.3122517496122px;
  min-height: 69.99998140554914px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Path_1 {
  position: absolute;
  width: 29.266910552978516px;
  height: 24.779308319091797px;
  cursor: pointer;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Image_1 {
  position: absolute;
  width: 46.316613158971336px;
  height: 35.142433931167716px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 {
  position: absolute;
  width: 538.0000000000005px;
  min-height: 660.4393778435783px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 {
  position: absolute;
  width: 179.267578125px;
  min-height: 25.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 {
  position: absolute;
  width: 186.61841638008377px;
  min-height: 41.71005304400012px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 {
  position: absolute;
  width: 122.716796875px;
  min-height: 28.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 {
  position: absolute;
  width: 113.26315789473733px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 {
  position: absolute;
  width: 459.9170653907499px;
  height: 31.804922581625874px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.80492258162616px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 {
  position: absolute;
  width: 93.90666118421063px;
  min-height: 31.423195488122246px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.80492258162576px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.80492258162508px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 {
  position: absolute;
  width: 121.85874264852447px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_9 span#rtr-s-Paragraph_9_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.804922581626442px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 {
  position: absolute;
  width: 224.81020733652326px;
  min-height: 31.80492258162542px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.804922581625533px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 {
  position: absolute;
  width: 224.81020733652252px;
  min-height: 31.80492258162542px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_12 {
  position: absolute;
  width: 121.85874264852447px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 input::-webkit-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 input::-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 input:-moz-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 input:-ms-input-placeholder {
  color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 {
  position: absolute;
  width: 459.91706539075px;
  height: 31.804922581626442px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 .valign {
  vertical-align: middle;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d53b9dc7-cc1a-425f-b18f-3849e04bb59d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}