#s-e7ae7b83-771f-4d60-b035-9748400e29d6 > #backgroundBox {
  background-color: #D9D9D9;
  position: absolute;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 > #alignmentBox {
  position: relative;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 {
  position: absolute;
  width: 478.00000000000045px;
  min-height: 615.7805484597212px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_6 {
  position: absolute;
  width: 83.53162691885962px;
  min-height: 26.86206184780994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 {
  position: absolute;
  width: 413.75438596491233px;
  height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_7 {
  position: absolute;
  width: 204.17543859649084px;
  min-height: 29.559551139815483px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_8 {
  position: absolute;
  width: 117.80366658869696px;
  min-height: 33.31762046609197px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 {
  position: absolute;
  width: 202.2456140350879px;
  min-height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 {
  position: absolute;
  width: 416.4561403508775px;
  height: 33.65470704393124px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 input::-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 input:-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 {
  position: absolute;
  width: 413.75438596491176px;
  height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 {
  position: absolute;
  width: 202.24561403508756px;
  min-height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 {
  position: absolute;
  width: 581.3122517496122px;
  min-height: 69.99998140554914px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Path_1 {
  position: absolute;
  width: 31.508525848388672px;
  height: 39.966060638427734px;
  cursor: pointer;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Image_1 {
  position: absolute;
  width: 46.316613158971336px;
  height: 35.142433931167716px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_3 {
  position: absolute;
  width: 165.80366658869707px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 {
  position: absolute;
  width: 415.7981357687597px;
  height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_4 {
  position: absolute;
  width: 117.80366658869696px;
  min-height: 33.31762046609197px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 input::-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 input:-moz-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 input:-ms-input-placeholder {
  color: #82888C;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 {
  position: absolute;
  width: 413.7543859649125px;
  height: 33.654707043930784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7ae7b83-771f-4d60-b035-9748400e29d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}