#s-f0ce587a-35b0-4c10-be26-a8b081394f66 > #backgroundBox {
  background-color: #EFEFEF;
  position: absolute;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 > #alignmentBox {
  position: relative;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Slice_2 {
  position: absolute;
  width: 591.0000000000005px;
  height: 1046.4393777786672px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Slice_3 {
  position: absolute;
  width: 591.0000000000005px;
  height: 985.4393774988922px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Slice_4 {
  position: absolute;
  width: 591.0000000000002px;
  height: 985.4393774988922px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 {
  position: absolute;
  width: 591.0000000000002px;
  min-height: 985.4393774988922px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 {
  position: absolute;
  width: 101.99832956414491px;
  min-height: 25.93232629751185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 {
  position: absolute;
  width: 505.2248803827755px;
  height: 40.184278361878796px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 {
  position: absolute;
  width: 505.2248803827755px;
  height: 40.184278361878796px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_9 {
  position: absolute;
  width: 103.15768914473699px;
  min-height: 25.93232629751219px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 {
  position: absolute;
  width: 505.22488038277515px;
  height: 40.184278361878796px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 {
  position: absolute;
  width: 246.9569377990431px;
  min-height: 40.184278361879024px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #E2202C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 {
  position: absolute;
  width: 246.95693779904332px;
  min-height: 40.184278361879024px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #1EAAF1;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 {
  position: absolute;
  width: 505.22488038277504px;
  height: 40.18427836187857px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_1 {
  position: absolute;
  width: 509.1441650390623px;
  height: 45.36092416323828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 {
  position: absolute;
  width: 120.86950041118439px;
  min-height: 25.200513424021267px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 {
  position: absolute;
  width: 89.68457031250011px;
  min-height: 25.200513424021494px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_12 {
  position: absolute;
  width: 101.69928650194242px;
  min-height: 25.20051342402121px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 {
  position: absolute;
  width: 505.22488038277515px;
  height: 40.50657785172507px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 {
  position: absolute;
  width: 101.69928650194265px;
  min-height: 38.27691119048984px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 input::-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 input:-moz-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 {
  position: absolute;
  width: 505.22488038277515px;
  height: 40.50657785172518px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 .valign {
  vertical-align: middle;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Input_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 {
  position: absolute;
  width: 489.1111111111111px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #35B736;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Path_1 {
  position: absolute;
  width: 20.77783966064453px;
  height: 20.400001525878906px;
  cursor: pointer;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Image_1 {
  position: absolute;
  width: 39.0px;
  height: 39.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_2 table {
  display: table-cell;
  vertical-align: top;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_2 table tbody {
  display: inline-grid;
  gap: 5px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_2 {
  position: absolute;
  width: 215.12987986446865px;
  height: 81.61612284069116px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Category_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 {
  position: absolute;
  width: 116.79266347687388px;
  min-height: 25.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #E2202C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f0ce587a-35b0-4c10-be26-a8b081394f66 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}