#m-f3a6046d-6538-41eb-9f2d-122efbe250ed #Image {
  position: absolute;
  width: 66.99999999999955px;
  height: 69.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-f3a6046d-6538-41eb-9f2d-122efbe250ed #Image_1 {
  position: absolute;
  width: 44.0px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-f3a6046d-6538-41eb-9f2d-122efbe250ed #Image {
  position: absolute;
  width: 66.99999999999955px;
  height: 69.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-f3a6046d-6538-41eb-9f2d-122efbe250ed #Image_1 {
  position: absolute;
  width: 44.0px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#loadMark-m-f3a6046d-6538-41eb-9f2d-122efbe250ed {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-f3a6046d-6538-41eb-9f2d-122efbe250ed.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}